{% extends 'base.html' %}
{% load static %}

{% block title %}
    Netfloox
{% endblock title %}


{% block content %}




<div id="container">
    <netflixintro letter="N">
      <div class="helper-1">
        <div class="effect-brush">
          <span class="fur-31"></span>
          <span class="fur-30"></span>
          <span class="fur-29"></span>
          <span class="fur-28"></span>
          <span class="fur-27"></span>
          <span class="fur-26"></span>
          <span class="fur-25"></span>
          <span class="fur-24"></span>
          <span class="fur-23"></span>
          <span class="fur-22"></span>
          <span class="fur-21"></span>
          <span class="fur-20"></span>
          <span class="fur-19"></span>
          <span class="fur-18"></span>
          <span class="fur-17"></span>
          <span class="fur-16"></span>
          <span class="fur-15"></span>
          <span class="fur-14"></span>
          <span class="fur-13"></span>
          <span class="fur-12"></span>
          <span class="fur-11"></span>
          <span class="fur-10"></span>
          <span class="fur-9"></span>
          <span class="fur-8"></span>
          <span class="fur-7"></span>
          <span class="fur-6"></span>
          <span class="fur-5"></span>
          <span class="fur-4"></span>
          <span class="fur-3"></span>
          <span class="fur-2"></span>
          <span class="fur-1"></span>
        </div>
        <div class="effect-lumieres">
          <span class="lamp-1"></span>
          <span class="lamp-2"></span>
          <span class="lamp-3"></span>
          <span class="lamp-4"></span>
          <span class="lamp-5"></span>
          <span class="lamp-6"></span>
          <span class="lamp-7"></span>
          <span class="lamp-8"></span>
          <span class="lamp-9"></span>
          <span class="lamp-10"></span>
          <span class="lamp-11"></span>
          <span class="lamp-12"></span>
          <span class="lamp-13"></span>
          <span class="lamp-14"></span>
          <span class="lamp-15"></span>
          <span class="lamp-16"></span>
          <span class="lamp-17"></span>
          <span class="lamp-18"></span>
          <span class="lamp-19"></span>
          <span class="lamp-20"></span>
          <span class="lamp-21"></span>
          <span class="lamp-22"></span>
          <span class="lamp-23"></span>
          <span class="lamp-24"></span>
          <span class="lamp-25"></span>
          <span class="lamp-26"></span>
          <span class="lamp-27"></span>
          <span class="lamp-28"></span>
        </div>
      </div>
      <div class="helper-2">
        <div class="effect-brush">
          <span class="fur-31"></span>
          <span class="fur-30"></span>
          <span class="fur-29"></span>
          <span class="fur-28"></span>
          <span class="fur-27"></span>
          <span class="fur-26"></span>
          <span class="fur-25"></span>
          <span class="fur-24"></span>
          <span class="fur-23"></span>
          <span class="fur-22"></span>
          <span class="fur-21"></span>
          <span class="fur-20"></span>
          <span class="fur-19"></span>
          <span class="fur-18"></span>
          <span class="fur-17"></span>
          <span class="fur-16"></span>
          <span class="fur-15"></span>
          <span class="fur-14"></span>
          <span class="fur-13"></span>
          <span class="fur-12"></span>
          <span class="fur-11"></span>
          <span class="fur-10"></span>
          <span class="fur-9"></span>
          <span class="fur-8"></span>
          <span class="fur-7"></span>
          <span class="fur-6"></span>
          <span class="fur-5"></span>
          <span class="fur-4"></span>
          <span class="fur-3"></span>
          <span class="fur-2"></span>
          <span class="fur-1"></span>
        </div>
      </div>
      <div class="helper-3">
        <div class="effect-brush">
          <span class="fur-31"></span>
          <span class="fur-30"></span>
          <span class="fur-29"></span>
          <span class="fur-28"></span>
          <span class="fur-27"></span>
          <span class="fur-26"></span>
          <span class="fur-25"></span>
          <span class="fur-24"></span>
          <span class="fur-23"></span>
          <span class="fur-22"></span>
          <span class="fur-21"></span>
          <span class="fur-20"></span>
          <span class="fur-19"></span>
          <span class="fur-18"></span>
          <span class="fur-17"></span>
          <span class="fur-16"></span>
          <span class="fur-15"></span>
          <span class="fur-14"></span>
          <span class="fur-13"></span>
          <span class="fur-12"></span>
          <span class="fur-11"></span>
          <span class="fur-10"></span>
          <span class="fur-9"></span>
          <span class="fur-8"></span>
          <span class="fur-7"></span>
          <span class="fur-6"></span>
          <span class="fur-5"></span>
          <span class="fur-4"></span>
          <span class="fur-3"></span>
          <span class="fur-2"></span>
          <span class="fur-1"></span>
        </div>
      </div>
      <div class="helper-4">
        <div class="effect-brush">
          <span class="fur-31"></span>
          <span class="fur-30"></span>
          <span class="fur-29"></span>
          <span class="fur-28"></span>
          <span class="fur-27"></span>
          <span class="fur-26"></span>
          <span class="fur-25"></span>
          <span class="fur-24"></span>
          <span class="fur-23"></span>
          <span class="fur-22"></span>
          <span class="fur-21"></span>
          <span class="fur-20"></span>
          <span class="fur-19"></span>
          <span class="fur-18"></span>
          <span class="fur-17"></span>
          <span class="fur-16"></span>
          <span class="fur-15"></span>
          <span class="fur-14"></span>
          <span class="fur-13"></span>
          <span class="fur-12"></span>
          <span class="fur-11"></span>
          <span class="fur-10"></span>
          <span class="fur-9"></span>
          <span class="fur-8"></span>
          <span class="fur-7"></span>
          <span class="fur-6"></span>
          <span class="fur-5"></span>
          <span class="fur-4"></span>
          <span class="fur-3"></span>
          <span class="fur-2"></span>
          <span class="fur-1"></span>
        </div>
      </div>
    </netflixintro>
</div>

  
{% include 'partials/header.html'%}

<!-- recherche des films en base de données et affichage immédiat-->
<div class="mt-20 ">
    <H1 class=" text-center text-4xl text-red-500">Recherchez un film et trouver les films similaires!!!</H1>
</div>
<div class="flex justify-center  h-[100px]">


   
    <div id="search-form" style="margin-top: 50px;">
        <form class="sticky">
          <input type="text" id="input" class="relative z-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="query" placeholder="Rechercher un film" hx-get="{% url 'search_films' %}" hx-target="#results" hx-trigger="keyup changed delay:500ms" required>
        </form>
    </div>
      
    {% block show-film %}
    <div class="my-5 " id="results" >
    <ul class="my-5 absolute top-30 left-[60%] w-[500px]">
        {% for film in films %}
        <p class="film ml-10 text-2xl text-black bold cursor-pointer" onclick="selectResult(this)">{{ film.originaltitle }}</p>
        {% endfor %}
    </ul>
    </div>
    {% endblock %}

    
</div>  
   
    
    
<div class="relative flex justify-center h-[300px]">

    <div class="flex-col  ml-10 h-[100px] " >

        <div class=" relative z-10 w-[232px]">
        
            <button class="text-white bg-red-500 font-medium rounded-lg text-sm  w-full  sm:w-auto px-5 py-2.5 text-center" onclick="getSimilarMovies()">Voir les films similaires</button> 
        </div>
            
            
        <div class="absolute  my-2 list-none" id="similar-movies"></div>
            
    </div>
</div>



<form hx-post="{% url 'predict_rating' %}" hx-target="#r">
  <div class="flex justify-center items-center">
    <div class="grid md:grid-cols-2 md:gap-6">
   
      <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="actress" id="actrices" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="actrices" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Actrice(s)</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="genres" id="genres" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="genres" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Genres</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="actor" id="acteurs" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="acteurs" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Acteur(s)</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="director" id="directeurs" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="directeurs" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Directeur(s)directeurs
      </div>
      <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="producer" id="producteurs" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="producteurs" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Producteur(s)</label>
      </div>
      <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="writer" id="scenaristes" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="scenaristes" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Scénariste(s)</label>
      </div>
    
  
    <div>
    <button type="submit" class="flex justify-center items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>


  </div>
 
</form>

{%  include 'partials/result.html' %}

   








{% endblock content %}